body {
    padding-top: 70px;
    padding-bottom: 70px;
}
.offset-top {
    padding-top: 10px;
}
.full-width {
    width: 100%;
}
.pointer, a, button, .list-group-item {
    cursor: default !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.CodeMirror-linenumbers {
    background-color: #f5f5f5;
}
.CodeMirror {
    border-radius: 5px;
}
#fileTree {
    border-radius: 5px;
    overflow: auto;
}
.project-child-1 { margin-left: 5px; }
.project-child-2 { margin-left: 10px; }
.project-child-3 { margin-left: 15px; }
.project-child-4 { margin-left: 20px; }
.project-child-5 { margin-left: 25px; }
.project-child-6 { margin-left: 30px; }
.project-child-7 { margin-left: 35px; }
.project-child-8 { margin-left: 40px; }
.project-child-9 { margin-left: 45px; }