<head>
  <title>spacebox</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                {{> headerBar }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-{{#if viewEditorEnabled }}2{{else}}12{{/if}}">
                {{#if viewFileBrowserEnabled}}
                {{> fileTree }}
                {{/if}}
            </div>
            <div class="col-xs-{{#if viewFileBrowserEnabled}}10{{else}}12{{/if}}">
                {{#if viewEditorEnabled }}
                {{> fileEditor }}
                {{/if}}
            </div>
        </div>
        
        <!-- Import modals -->
        {{> modalNewProject}}
        {{> modalRenameProject}}
        {{> modalRenameFile}}
        {{> modalOpenProject}}
        {{> modalNewFile}}
        {{> modalNewFolder}}
    </div>
</body>
