<template name="fileTreeContextMenu">
    <div id="fileTreeContextMenu">
        <ul class="dropdown-menu" role="menu">
            <li><a id="contextNewFile">{{contextNewFile}}</a></li>
            <li><a id="contextNewFolder">{{contextNewFolder}}</a></li>
            {{#if notProjectRoot}}
            <li><div class="divider"></div></li>
            <li><a id="contextRename">{{contextRename}}</a></li>
            <li><a id="contextDelete">{{contextDelete}}</a></li>
            {{/if}}
        </ul>
    </div>
</template>