<template name="fileTree">
    <div class="list-group" id="fileTree">
        {{#with currentProject}}
        <a class="list-group-item tree-context project-parent" id="{{_id}}">
            {{name}}
            {{#if currentFilePendingSave}}
            <span class="glyphicon glyphicon-transfer pull-right"></span>
            {{/if}}
        </a>
        {{/with}}
        {{#each children}}
        <a id="{{_id}}" class="list-group-item tree-context project-child-{{level}} {{#if isSelectedFile}}active{{/if}}">
            {{#if isFile}}
            <span class="glyphicon glyphicon-file"></span>
            {{else}} {{#if isFolderExpanded}}
            <span class="glyphicon glyphicon-folder-open"></span>
            {{else}}
            <span class="glyphicon glyphicon-folder-close"></span>
            {{/if}}{{/if}}
            {{name}}
        </a>
        {{/each}}
    </div>
    {{> fileTreeContextMenu}}
</template>
