<template name="footerBar">
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand pointer">I'm a footer!</a>
          </div>
      </div>
    </nav>
</template>
