<template name="headerBar">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand">{{applicationName}}</a>
          </div>
          <ul class="nav navbar-nav">
              {{#if currentUser}}{{> headerBarFileDropdown }}{{/if}}
              {{#if currentFile }}{{> headerBarEditDropdown }}{{/if}}
              {{> headerBarViewDropdown }}
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {{#if currentProject}}{{> projectDropdown }}{{/if}}
              {{> loginButtons}}
          </ul>
      </div>
    </nav>
</template>

<template name="projectDropdown">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button">{{currentProject.name}}</a>
        <ul class="dropdown-menu" role="menu">
            <li><a class="pointer" id="closeProject">{{closeProject}}</a></li>
            <li><a class="pointer" id="shareProject">{{shareProject}}</a></li>
            <li class="divider"></li>
            <li><a class="pointer" id="renameProject">{{renameProject}}</a></li>
            <li><a class="pointer" id="deleteProject">{{deleteProject}}</a></li>
        </ul>
    </li>
</template>

<template name="headerBarFileDropdown">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button">{{title}}</a>
        <ul class="dropdown-menu" role="menu">
            <li><a class="pointer" id="newProject">{{newProject}}</a></li>
            <li><a class="pointer" id="openProject">{{openProject}}</a></li>
            {{#if editingFile }}
            <li class="divider"></li>
            <li><a class="pointer" id="saveProject">{{saveProject}}</a></li>
            <li><a class="pointer" id="saveFile">{{saveFile}}</a></li>
            {{/if}}
        </ul>
    </li>
</template>

<template name="headerBarEditDropdown">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button">{{title}}</a>
        <ul class="dropdown-menu" role="menu">
            <li><a class="pointer" id="undo">{{undo}}</a></li>
            <li><a class="pointer" id="redo">{{redo}}</a></li>
            <li class="divider"></li>
            <li><a class="pointer" id="cut">{{cut}}</a></li>
            <li><a class="pointer" id="copy">{{copy}}</a></li>
            <li><a class="pointer" id="paste">{{paste}}</a></li>
            <li class="divider"></li>
            <li><a class="pointer" id="selectAll">{{selectAll}}</a></li>
        </ul>
    </li>
</template>

<template name="headerBarViewDropdown">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button">{{title}}</a>
        <ul class="dropdown-menu noclose" role="menu">
            <li><a class="pointer" id="console">
                {{console}}
                {{#if viewConsoleEnabled}}<span class="glyphicon glyphicon-ok pull-right"></span>{{/if}}
            </a></li>
            <li><a class="pointer" id="editor">
                {{editor}}
                {{#if viewEditorEnabled}}<span class="glyphicon glyphicon-ok pull-right"></span>{{/if}}
            </a></li>
            <li><a class="pointer" id="fileBrowser">
                {{fileBrowser}}
                {{#if viewFileBrowserEnabled}}<span class="glyphicon glyphicon-ok pull-right"></span>{{/if}}
            </a></li>
            {{#if editingFile }}
            <li class="divider"></li>
            <li><a class="pointer" id="fileHistory">
                {{fileHistory}}
                {{#if viewFileHistoryEnabled}}<span class="glyphicon glyphicon-ok pull-right"></span>{{/if}}
            </a></li>
            {{/if}}
        </ul>
    </li>
</template>
