<template name="modalNewProject">
    <div class="modal fade" id="modalNewProject">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Project</h4>
                </div>
                <div class="modal-body">
                    {{#if newProjectError }}
                    <div class="alert alert-danger offset-top" role="alert">{{newProjectError}}</div>
                    {{/if}}
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputNewProjectName" placeholder="Project Name" value="">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="buttonNewProjectType">
                                {{newProjectType}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" id="selectNewProjectType">
                                {{#each projectTypes }}
                                <li><a id="modalNewProjectType-{{value}}">{{name}}</a></li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="buttonNewProjectCreate">Create Project</button>
                </div>
            </div>
        </div>
    </div>
</template>