<template name="modalNewFolder">
    <div class="modal fade" id="modalNewFolder">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Folder</h4>
                </div>
                <div class="modal-body">
                    {{#if newFolderError }}
                    <div class="alert alert-danger offset-top" role="alert">{{newFolderError}}</div>
                    {{/if}}
                    <input type="text" class="form-control" id="inputNewFolderName" placeholder="New Folder Name">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="buttonNewFolderCreate">Create Folder</button>
                </div>
            </div>
        </div>
    </div>
</template>