<template name="modalNewFile">
    <div class="modal fade" id="modalNewFile">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New File</h4>
                </div>
                <div class="modal-body">
                    {{#if newFileError }}
                    <div class="alert alert-danger offset-top" role="alert">{{newFileError}}</div>
                    {{/if}}
                    <input type="text" class="form-control" id="inputNewFileName" placeholder="New File Name">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="buttonNewFileCreate">Create File</button>
                </div>
            </div>
        </div>
    </div>
</template>