<template name="modalOpenProject">
    <div class="modal fade" id="modalOpenProject">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Open Project</h4>
                </div>
                <div class="modal-body">
                    <div class="list-group">
                        {{#each projectList}}
                        <a class="list-group-item {{#if selectedProject}}active{{/if}}">
                            <span class="badge">{{nameForProjectType}}</span>
                            {{name}}
                        </a>
                        {{/each}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="buttonOpenProject">Open Project</button>
                </div>
            </div>
        </div>
    </div>
</template>