<template name="modalRenameProject">
    <div class="modal fade" id="modalRenameProject">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Rename Project</h4>
                </div>
                <div class="modal-body">
                    {{#if renameProjectError }}
                    <div class="alert alert-danger offset-top" role="alert">{{renameProjectError}}</div>
                    {{/if}}
                    <input type="text" class="form-control" id="inputRenameProjectName" placeholder="New Project Name" value="{{currentProject.name}}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="buttonRenameProject">Rename Project</button>
                </div>
            </div>
        </div>
    </div>
</template>