<template name="modalRenameFile">
    <div class="modal fade" id="modalRenameFile">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Rename File</h4>
                </div>
                <div class="modal-body">
                    {{#if renameFileError }}
                    <div class="alert alert-danger offset-top" role="alert">{{renameFileError}}</div>
                    {{/if}}
                    <input type="text" class="form-control" id="inputRenameFileName" placeholder="New File Name" value="{{currentFile.name}}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="buttonRenameFile">Rename File</button>
                </div>
            </div>
        </div>
    </div>
</template>